.footer {
    padding: 20px 0px;
    background: #0d100f;
    &__text {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #eeeeef;
        margin: 0;
    }
    &__visitors {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #eeeeef;
        margin: 0;
    }
}

