.color {
    // fill: red !important;
    stroke: red !important;
    // background-color: red;
}

.speedometer-ticks {
    position: absolute;
    top: 5px;
    left: 38px;
}

.hide {
    display: none;
}

.speedometer {
    position: relative;
    &__value {
        margin-top: -205px;
        font-size: 54.6411px;
        line-height: 66px;
        color: #2e7f98;
        &::after {
            content: "mpbs";
            display: block;
            margin-top: 20px;
            margin-bottom: 6px;
            font-size: 21.2493px;
            line-height: 26px;
            color: #2e7f98;
        }
    }
    &__btn {
        font-size: 21.2493px;
        line-height: 26px;
        color: #2fbcd3;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        margin-bottom: 51px;
        &:hover {
            color: #2e7f98;
        }
    }
}

